<h1 id="main-content-header">{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-heroes></app-heroes> -->
<app-messages></app-messages>

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <h1>matAutocomplete</h1>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let hero of heroes" [value]="hero">
    {{hero}}
  </mat-option>
</mat-autocomplete> -->

<!-- <router-outlet></router-outlet> -->
