.currency {
  margin: 0 0 2em 1em;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.currency li, #converter {
  /* cursor: pointer; */
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  /* padding: .3em 0; */
  padding: .5em;
  /* height: 1.6em; */
  border-radius: 4px;
}

.currency .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

button {
  float: right;
  margin-right: 1em;
}

.rate {
  width: 100%;
  height: auto;
  color: #2c3a41;
  position: relative;
  left: 0;
  /* background-color: #EEE; */
  margin: .5em;
  padding: .5em;
  border-radius: 4px;
}
