<div class="currency">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label for="amount">Amount (max {{maxInputValue-1}}) </mat-label>
      <input matInput required id="amount" type="number" min="0" max="{{maxInputValue}}" [(ngModel)]="inputAmount" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>From currency</mat-label>
      <mat-select required [(ngModel)]="inputCurrency.id" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
          {{currency.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>To currency</mat-label>
      <mat-select required [(ngModel)]="outputCurrency.id" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
          {{currency.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="button" type="submit"> Convert </button>
  </form>
</div>

<br>
<div *ngIf="formSubmitted">
  <div id="converter" class="currency">
    <h2>{{convertionOutput | uppercase}}</h2>
  </div>
  <div class="rate">
    <h3> {{convertionDate}} {{convertionRate | uppercase}} </h3>
  </div>
</div>
